<launch>
  <arg name="UnitreeGripper" default="true"/>


  <node type="z1_servo_control.py" pkg="z1_hw" name="z1_servo_control" output="screen" respawn="true">
    <param name="UnitreeGripperYN" value="$(arg UnitreeGripper)"/>
    <rosparam file="$(find z1_controller)/config/config.yaml"/>
    <rosparam file="$(find z1_hw)/config/config.yaml"/>
  </node>


</launch>